<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>destination</key>
    <string>upload</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>teamID</key>
    <string>$(DEVELOPMENT_TEAM)</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.chess4u.Chess4U</key>
        <string>Chess4U AppStore</string>
        <key>com.chess4u.Chess4U.Widget</key>
        <string>Chess4U Widget AppStore</string>
    </dict>
</dict>
</plist>
